#tweetBlocks {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
#tweetBlocks p {
  margin: 0.5em;
}
#tweetBlocks header {
  margin-top: 0;
  background-color: transparent;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#tweetBlocks header p {
  display: flex;
  align-items: center;
}
.handle {
  color: transparent;
}
#tweetBlocks article:hover .handle {
  color: rgb(170, 192, 231);
}
#tweetBlocks div {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom-style: solid;
  border-width: 5px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
#tweetBlocks article {
  border-style: solid;
  margin-bottom: 1em;
}
#tweetBlocks article:hover {
  box-shadow: 10px 10px rgb(170, 192, 231);
  color: #000;
}
#tweetBlocks footer {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 80%;
}






